<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tasker</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/jqueryurl.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/facebook.js" charset="utf-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img class="brand-logo"src="./images/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><h4 class="navbar-text">Tasker</h4></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html">Home</a></li>
            <li><a id="logout" href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h1>My Personal To-Do's</h1>
            <h4><small>Owner: {{ user.name }}</small></h4>
            <div class="row">
              <div class="col-md-3">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createnew">Add task</button>
              </div>
              <div class="col-md-7 col-md-offset-2">
                <form class="form-inline">
                  <div class="form-group">
                    <input v-on:submit="searchTag" type="text" class="form-control" placeholder="search by tag.." v-model="search">
                  </div>
                  <button type="button" class="btn btn-success" @click="searchTag">Search</button>
                </form>
              </div>
            </div>
            <!-- Modal -->
            <div id="createnew" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new task</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="todo"><strong>New Todo:</strong></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" v-model="todo" placeholder="Enter new task">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="tags">Tag(s):</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" v-model="tags" placeholder="Enter relevant tag(s), separate by comma">
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" v-on:click="createNew()" data-dismiss="modal">Create</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="content">
              <ul id="output" class="list-group" style="margin-top: 40px;">
                <li v-for="(task, index) in todos" class="list-group-item">
                  <div class="row">
                    <div class="col-xs-1">
                      <a v-if="task.completed" v-on:click="toggleStatus(task)"><span class="glyphicon glyphicon-check"></span></a>
                      <a v-if="task.completed==false" v-on:click="toggleStatus(task)"><span class="glyphicon glyphicon-unchecked"></span></a>
                    </div>
                    <div class="col-xs-10">
                      <span style="font-size: 20px; margin-top: 0; line-height: 1.5em"><strong>{{ task.task }}</strong></span>
                      <p><small>{{ (task.tags).toString() }}</small></p>
                    </div>
                    <div class="col-xs-1">
                      <a v-on:click="remove(task, index)"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                    <div>
                    </div>
                  </div>
                </li>
                <button v-if="getSearch" @click="populateTodo" type="button" class="btn btn-primary btn-block">Back to all task</button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          token: localStorage.getItem("token") || '',
          todos: [],
          user: '',
          todo: '',
          tags: '',
          search: '',
          getSearch: false
        },
        created: function() {
          this.populateTodo();
          this.getUser();
        },
        methods: {
          populateTodo: function() {
            var self = this;
            if(self.token.length > 0) {
              axios.post('http://localhost:3000/api/todos', {
                token: self.token
              })
              .then(response => {
                self.todos = response.data;
                self.getSearch = false
              })
              .catch(err => {

              })
            } else {
              window.location.href = "./login.html";
            }
          },
          getUser: function() {
            var self = this;
            axios.post('http://localhost:3000/userinfo', {
              token: self.token
            })
            .then(response => {
              self.user = response.data;
            })
            .catch(err => {

            })
          },
          createNew: function() {
            var self = this;
            axios.post('http://localhost:3000/api/todos/add', {
              task: self.todo,
              tags: self.tags,
              token: self.token
            })
            .then(response => {
              self.todo = ''
              self.tags = ''
              self.populateTodo()
            })
            .catch(err => {

            })
          },
          toggleStatus: function(todo) {
            var value = !todo.completed;
            todo.completed = value;
            axios.put(`http://localhost:3000/api/todos/${todo._id}/toggle`, {
              completed: value
            })
            .then(response => {
            })
          },
          remove: function(todo, index) {
            if(window.confirm("Remove this item?")) {
              app.todos.splice(index, 1)
              axios.delete(`http://localhost:3000/api/todos/${todo._id}`, {
                data: {
                  _id: todo._id
                }
              })
            }
          },
          searchTag: function(e) {
            e.preventDefault()
            console.log('tes');
            let result = []
            if(this.search.length > 0) {
              this.todos.forEach(todo => {
                if(todo.tags.includes(this.search)) {
                  result.push(todo)
                }
              })
              this.getSearch = true
            } else {
              this.populateTodo()
            }
            this.todos = result
            this.search = ''
          }
        }
      })
      $(document).ready(function() {
        $('#logout').click(function(event) {
          FB.init({
            appId      : 469306980082723,
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.9' // use graph api version 2.8
          });
          FB.getLoginStatus(function(response) {
            logoutFacebook();
          });
          // localStorage.removeItem("token");
          // window.location.href = "./login.html";
        })
      })
    </script>
  </body>
</html>